.index_header
  .index_header__sidebaricon
    %i.fas.fa-bars{width:"20px",height:"20px"}
  .index_header__searchbar
    =form_with do |f|
      .index_header__searchbar__form
        =f.text_field :title,class:"audiotitle1",id:"audiotitle11"
        %i.fas.fa-search         
      -# =f.submit(class:"audiosearch1",id:"audiosearch11")
  .index_header__post
    = link_to "" do
      %i.fab.fa-napster.fa-2x   
  .index_header__userimage
    = link_to image_tag("/images/member_photo_noimage.png",class:"userphoto"),""
.oihgjfhgd
    