#sidebaradd.index_sidebar1
  .index_sidebar1__home
    =link_to root_path do
      %i.fab.fa-napster.fa-2x
      %li ホーム
  .index_sidebar1__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
      %li 急上昇
  .index_sidebar1__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
      %li グループ
  .index_sidebar1__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
      %li アーティスト
  .index_sidebar1__home
    =link_to root_path do
      %i.fab.fa-napster.fa-2x
      %li ホーム
  .index_sidebar1__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
      %li 急上昇
  .index_sidebar1__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
      %li グループ
  .index_sidebar1__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
      %li アーティスト
  .index_sidebar1__home
    =link_to root_path do
      %i.fab.fa-napster.fa-2x
      %li ホーム
  .index_sidebar1__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
      %li 急上昇
