.index_sidebar1__home
  =link_to root_path do
    %li ホーム
.index_sidebar1__home
  =link_to "" do
    %li 急上昇
.index_sidebar1__home
  =link_to "" do
    %li グループ
.index_sidebar1__home
  =link_to "" do
    %li アーティスト
.index_sidebar1__home
  =link_to root_path do
    %li ホーム
.index_sidebar1__home
  =link_to "" do
    %li 急上昇
.index_sidebar1__home
  =link_to "" do
    %li グループ
.index_sidebar1__home
  =link_to "" do
    %li アーティスト
.index_sidebar1__home
  =link_to root_path do
    %li ホーム
.index_sidebar1__home
  =link_to "" do
    %li 急上昇
