#sidebarnone.index_sidebar1_display_none
  .index_sidebar2__home
    =link_to root_path do
      %i.fab.fa-napster.fa-2x
  .index_sidebar2__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
  .index_sidebar2__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
  .index_sidebar2__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
  .index_sidebar2__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
  .index_sidebar2__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
  .index_sidebar2__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
  .index_sidebar2__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
  .index_sidebar2__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
  .index_sidebar2__home
    =link_to "" do
      %i.fab.fa-napster.fa-2x
