.header
  = render partial: "header"
.main
  #sidebarnone.index_sidebar2
    = render partial: "sidebar2"
  #sidebaradd.index_sidebar1
    = render partial: "sidebar1"
  #mainadd.index__main1
    = render partial: "main" 