= render partial: "header"
.main
  = render partial: "sidebar2"
  = render partial: "sidebar1"
  #mainadd.main1
    .show
      .show__top
        =image_tag("logo.jpg",class:"musicview")
      .show__discription