= render partial: "audios/header-sidebar"
.yohaku
#mainadd.main1
  .artistshow
    アーティスト名
    .artistshow__artistimage
      = link_to image_tag("member_photo_noimage.png",class:"artisticonimage"),""
  　-#アーティストの画像をユーザーが追加（最大追加枚数については別途考える）
  .artistshowprofile
    %p#profile 概要
    %p いえええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええええい
　-#概要以下はユーザーが項目を追加できるようにする