= render partial: "audios/header-sidebar"
#mainadd.main1
  .usershow
    .usershow__top
      = link_to image_tag("icon-1328421_1920.jpg",class:"userheaderimage"),""
    .usershow__userimage
      = link_to image_tag("member_photo_noimage.png",class:"usericonimage"),""
    .usershow__usernickname
      菅田将暉
