#usernicknamelabel {
  position:relative;
  left:15px;
}

#usernicknamehissu {
  position:relative;
  left:15px;
}

#useremaillabel {
  position:relative;
  right:25px;
}

#useremailhissu {
  position:relative;
  right:25px;
}

#userintroductionlabel {
  position:relative;
  right:53px;
}

#userimagelabel {
  position:relative;
  right:250px;
}

#userbackgroundimagelabel {
  position:relative;
  right:200px;
}